.navi {
	display: flex;
	list-style: none;
	text-decoration: none;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 30px;
	background: url('../images/AI2.png') right no-repeat,
		url('../images/AI-logo.png') no-repeat center,
		url('../images/AI2.png') left no-repeat,
		linear-gradient(rgb(0, 178, 198), black 40%, black, rgb(0, 178, 198));
	background-size: 120px;
	height: 90px;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: rgb(0, 178, 198);
}

a:hover {
	color: rgb(198, 0, 0);
}

a:active {
	color: black;
}
