*{
    padding:0;
    margin:0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    width: 100%;
    height: 100%;
    gap: 1em;
  }
.lines{
    border: 1px;
    border-style: solid none solid none;
    border-color: green;
    color:green;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: larger;
}
.section{
    border: 1px;
    border-style: solid none solid none;
    border-color: green;
    padding-top: 1em;
    padding-bottom: 1em;
}
.images{
    grid-column-start: 1;
    grid-column: span 1;
    grid-row: span 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.image{
    grid-column: span 1;
    grid-row: span 1;
}
.text{
    grid-column-start: 2;
    grid-column: span 1;
    color:darkolivegreen;
}