.stakeholders-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 800px;
    background-color: #edf7fa;
}

.stakeholders-child-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.stakeholders-child-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width:40%;
    color: black;
}

.stakeholder-image-box1{
    background-image: url('https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fcognitiveworld%2Ffiles%2F2019%2F05%2FSuitFingerPointingToUpwardTrend-F-1200x800.jpg');
}

.stakeholder-image-box2{
    background-image: url('https://i.pinimg.com/originals/30/c8/13/30c8130d5b1a704bf7f8f5f96c9517dc.jpg');
}

.stakeholder-image-box3{
    background-image: url('https://fcw.com/-/media/GIG/EDIT_SHARED/AI_Automation/AIcongress.png');
}

.stakeholder-image-box1,
.stakeholder-image-box2,
.stakeholder-image-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 350px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
}

.stakeholder-image-box1:hover,
.stakeholder-image-box2:hover,
.stakeholder-image-box3:hover {
    box-shadow: 6px 2px 40px rgba(0,0,0,0.57);
    transform: scale(1.1);
}

.stakeholders-h1{
    text-align: center;
}
